GOLD_TELEGRAM_BOT_TOKEN=
GOLD_TELEGRAM_CHAT_ID=
GOLD_ALLOWED_CHAT_IDS=

GOLD_SPOT_SYMBOL=XAU/USD
SILVER_SPOT_SYMBOL=XAG/USD
GOLD_YAHOO_SYMBOL=GC=F
SILVER_YAHOO_SYMBOL=SI=F
GOLD_TIMEZONE=Asia/Seoul
GOLD_REPORT_HOURS=8,20
GOLD_POLL_INTERVAL_SECONDS=300
GOLD_DATA_DIR=
GOLD_LOG_DIR=
GOLD_CACHE_DIR=

TWELVEDATA_API_KEY=
TWELVEDATA_OUTPUTSIZE=260
TWELVEDATA_RETRY_COUNT=3
